<!-- <navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>

<footer></footer>
 -->
<div class="container">
      <div class="row">
        <h1>Demo</h1>
        <p>
          <label for="f_name">First Name:</label>
          <input type="text" ng-model="f_name">
        </p>
        
        <name-card id="test" first="{{f_name}}" last="{{l_name}}" bind-polymer></name-card>
      </div>
    </div> 
 <link rel="import" href="elements/main-app/main-app.html">
<main-app></main-app>